@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

/* Light theme */
:root.light {
  --background: #f5f5f5;
  --foreground: #171717;
}

/* Dark theme */
:root.dark {
  --background: #0a0a1a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
